@charset "UTF-8";
@font-face {
  font-family: cloud;
  src: url(../cloud-candy/cloud.ttf); }

@font-face {
  font-family: cloud2;
  src: url(../cloud-candy/cloud2.ttf); }

@font-face {
  font-family: cloud3;
  src: url(../cloud-candy/cloud3.TTF); }

@font-face {
  font-family: cloud4;
  src: url(../cloud-candy/cloud4.ttf); }

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif; }

* {
  padding: 0;
  margin: 0; }

.inicio {
  background-image: url(../img/fondoindex.png); }
  .inicio header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.3rem 0rem 0.3rem; }
    .inicio header nav {
      background-color: #FFDB58;
      border: 1px solid rgba(0, 0, 0, 0.801); }
      .inicio header nav ul {
        display: flex;
        flex-direction: row;
        list-style: none; }
        .inicio header nav ul a {
          text-decoration: none; }
          .inicio header nav ul a:hover {
            background-color: #ffff75; }
            .inicio header nav ul a:hover li {
              color: slategray; }
        .inicio header nav ul li {
          color: rgba(0, 0, 0, 0.671);
          font-weight: bold;
          margin: 1rem; }
  .inicio section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .inicio section h1 {
      font-family: cloud;
      font-size: 200px;
      color: slategray;
      padding-top: 1rem; }
    .inicio section .yellow {
      color: slategray; }
    .inicio section button {
      background-color: #ffc107;
      font-family: cloud4;
      font-size: 30px;
      border-radius: 100px;
      padding: 0.75rem;
      margin-bottom: 2rem;
      border: black solid 1px; }

.carrousel {
  width: 100%;
  color: var(--negro);
  transition: all .4s ease;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden; }
  .carrousel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all .4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    transition: all .5s ease;
    transform: translateX(0%); }
  .carrousel .img {
    width: calc(120% / 2 - 2em);
    min-height: 10vh;
    color: var(--negro);
    transition: all .4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent; }
  .carrousel .puntos {
    list-style: none;
    width: 100%;
    color: var(--negro);
    transition: all .4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: .4em;
    margin: 0.5em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .carrousel .punto {
    width: 2em;
    height: 2em;
    color: var(--negro);
    transition: all .4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    margin: 0em 0.2em 0em 0.2em;
    background-color: black;
    border-radius: 15rem; }
  .carrousel .activo {
    background-color: #FFDB58; }

.card {
  margin: 50px;
  width: 400px;
  height: 400px;
  perspective: 1000px; }
  .card .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative; }
    .card .card__inner .card__face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 16px;
      box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2); }
    .card .card__inner .card__face--front {
      display: flex;
      align-items: center;
      justify-content: center; }
    .card .card__inner .card__face--front .ppDos {
      height: 100%;
      width: 100%; }
    .card .card__inner .card__face--back {
      background-color: var(--light);
      transform: rotateY(180deg); }
      .card .card__inner .card__face--back .card__content {
        width: 100%;
        height: 100%; }
        .card .card__inner .card__face--back .card__content .card__header {
          position: relative; }
        .card .card__inner .card__face--back .card__content .pp {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 25vh;
          padding-bottom: 20px; }
        .card .card__inner .card__face--back .card__content h2 {
          color: black;
          font-size: 32px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center; }
    .card .card__inner .card__content::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffd438;
      z-index: -1; }
    .card .card__inner .card__body {
      padding: 30px;
      margin-top: 32px;
      text-align: center; }
      .card .card__inner .card__body h3 {
        color: var(--dark);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px; }
      .card .card__inner .card__body button {
        font-size: 20px;
        border-radius: 100px;
        padding: 0.75rem;
        border: black solid 1px; }

.card__inner.is-flipped {
  transform: rotateY(180deg); }
