:root{
    --negro         : #393939;
    --blanco        : #ececec;
    --sombra-ppal   : #c9c9c9;
    --sombra-sec    : #ffffff;
    --borde-negro   : #00000050;
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;

    --marcado       : rgb(127, 195, 255);

    /* Tipografía */
    --tipo-principal  : Helvetica, Arial, sans-serif;
}

