@font-face {
    font-family:cloud ;
    src: url(../cloud-candy/cloud.ttf);
}
@font-face {
    font-family: cloud2;
    src: url(../cloud-candy/cloud2.ttf);
}
@font-face {
    font-family: cloud3;
    src: url(../cloud-candy/cloud3.TTF);
}
@font-face {
    font-family: cloud4;
    src: url(../cloud-candy/cloud4.ttf);
}

@import "_mixin.scss"; @import "_variables.scss";

//RESET

*{
    padding: 0;
    margin: 0;
}

//import


.inicio{background-image: url(../img/fondoindex.png);
    background-attachment: fixed;
    height: 100vh;
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.3rem 0rem 0.3rem;
        nav{background-color: #FFDB58;
            border: 1px solid rgba(0, 0, 0, 0.801);
            ul{display: flex; 
                flex-direction: row;
                list-style: none;
                a{
                    text-decoration: none;
                    &:hover{
                        background-color: rgb(255, 255, 117);  
                        li{
                            color:rgb(112, 128, 144) ;
                        }
                    }
                }
                li{ 
                    color: rgba(0, 0, 0, 0.671);
                    font-weight: bold;
                    margin: 1rem; 
                    
                }
            }
        }
    } 
    section{display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-family: cloud;
            font-size: 200px;
            
            color: rgb(112, 128, 144);
            padding-top: 1rem;
        }
        .yellow{
            
            color: rgb(112, 128, 144);
        }
        button{
           background-color: #ffc107;
           font-family: cloud4;
           font-size: 30px;
           border-radius: 100px;
           padding: 0.75rem;
           margin-bottom: 2rem;
           border: rgb(0, 0, 0) solid 1px;
        }
    } 
}

//Carrousel Propio
.carrousel{
    width: 100%;
    @include neo(1, 1em);
    overflow: hidden;
    .grande{
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @include neo(1, 1em);

        transition: all .5s ease;
        transform: translateX(0%)
    }
    .img{
        width: calc(120% / 2 - 2em);
        min-height: 10vh;
        @include neo(1, 1em);
    }
    .puntos{
        list-style: none;
        width: 100%;
        @include neo(1, 1em);
        padding: .4em;
        margin: 0.5em 0 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .punto{
        width: 2em;
        height: 2em;
        @include neo(1, 1em);
        margin: 0em 0.2em 0em 0.2em;
        background-color: black;
        border-radius: 15rem;
    }
    .activo{
        background-color: #FFDB58;
    }
}

//card


#flexProduct{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    margin: 50px;
    width: 350px;
    height: 400px;
    perspective: 1000px;
    .card__inner {
        margin: 10px;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
        .card__face {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            overflow: hidden;
            border-radius: 16px;
            box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          }
        .card__face--front {
            display: flex;
            align-items: center;
            justify-content: center;
          }  
        .card__face--front .ppDos {
            height: 100%;
            width: 100%;
          }
        .card__face--back {
            background-color: var(--light);
            transform: rotateY(180deg);
            .card__content {
                width: 100%;
                height: 100%; 
                .card__header {
                    position: relative;
                  }
                    .pp {
                        display: block;
                        object-fit: cover;
                        width: 100%;
                        height: 30vh;
                        padding-bottom: 10px;
                        
                      }
                     h2 {
                        color: black;
                        font-size: 32px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                      }  
                  }  
                }
                .card__content::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ffd438;
                    z-index: -1;
                }
                .card__body {
                    padding: 15px;
                    margin-top: 17px;
                    text-align: center;
                    h3 {
                        color: var(--dark);
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        
                      }
                    
                    button {
                        font-size: 20px;
                        border-radius: 100px;
                        padding: 0.75rem;
                        border: rgb(0, 0, 0) solid 1px;
                    }  
                  }
        }  
      }

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


//map

#map{
    height: 80vh;
    width: 30%;
    margin: 10px 0px 10px 0px;
}

#flexUb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px 0px;
    background-image: url(../img/imgub.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#textUb{
    width: 50%;
    text-align: center;
    h1{ 
        font-size: 70px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0px 20px 0px;
    }
    p{
        font-size: 20px;
    }
}
